@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --foreground-muted: #e5e5e5; /* Add this for subtle dots */
  --danger: #c1121f;
  --warn: #ffbe0b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-danger: var(--danger);
  --color-warn: var(--warn);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --foreground-muted: #262626; /* Darker dots for dark mode */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
